@use "../../styles/mixins.scss";

.newAdvertSection {
  height: 250px;
  padding-top: 50px;
  padding-bottom: 50px;

  @include mixins.for-desktop-only {
    height: 380px;
    padding-top: 108px;
    padding-bottom: 108px;
  }

  background-image: url("/images.png");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
}

.title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;

  @include mixins.for-desktop-only {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 5px;
    line-height: 149.5%;
  }
}

.subtitle {
  font-size: 26px;
  font-weight: 700;
  @include mixins.for-desktop-only {
    font-size: 32px;
    font-weight: 700;
  }
}

.inner {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: #fff;
  align-items: baseline;

  @include mixins.for-desktop-only {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.reportButton {
  @include mixins.for-desktop-only {
    height: 60px !important;
    width: 150px !important;
  }
}

.leftContent {
  max-width: 100%;
}
