:root {
  --app-color-white: #fff;
  --app-color-black: #000;
  --app-color-main: #f80179;
  --app-color-gray-100: #fafafa;
  --app-color-gray-200: #f2f2f2;
  --app-color-gray-300: #eaeaea;
  --app-color-gray-400: #dddddd;
  --app-color-gray-500: #b5b5b5;
  --app-color-gray-600: #8d8d8d;
  --app-color-gray-700: #6f6f6f;
  --app-color-gray-800: #474747;
  --app-color-gray-900: #292929;
  --app-color-blue: #00a0fa;
  --app-color-indigo: #5a58d8;
  --app-color-purple: #b13ceb;
  --app-color-orange: #ff3d00;
  --app-color-yellow: #ff9900;
  --app-color-lime: #ddfc67;
  --app-color-green: #accc36;
  --app-color-red: #fd113b;
}
