@use "../../styles/mixins.scss";

.statsCard {
  background-color: #f54c1e;
  padding-top: 20px;
  padding-bottom: 20px;

  @include mixins.for-desktop-only {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.titles {
  @include mixins.for-desktop-only {
    font-size: 58px;
  }
  font-size: 24px;

  color: #fff;
  margin-bottom: 0;
}
.values {
  font-size: 12px;
  color: #fff;
  margin-bottom: 0;

  @include mixins.for-desktop-only {
    font-size: 24px;
  }
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.statsCardContent {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
