@use "../../styles/mixins.scss";

.header {
  display: flex;
  justify-content: space-between;
  background-color: #ffff;
}
.headerContent {
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;

  img {
    cursor: pointer;
    @include mixins.for-mobile-only {
      width: 120px;
      height: 30px;
    }
  }

  a {
    &:hover {
      color: #fc621c;
    }
  }
  padding-top: 1rem;
  padding-bottom: 1rem;
  @include mixins.for-mobile-only {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.menu {
  align-self: center;
  width: 100%;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  @include mixins.for-mobile-only {
    gap: 0.25rem;
  }

  a {
    display: block;
    text-decoration: none;
    color: black;
  }
}
