@use "../../styles/mixins.scss";

.lastestList {
  margin-top: 27px;

  @include mixins.for-desktop-only {
    margin-top: 52px;
  }
}
.title {
  margin-bottom: 0.5rem;
  @include mixins.for-desktop-only {
    margin-bottom: 1rem;
  }
}
.head {
  display: flex;
  justify-content: space-between;
}
